[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
flake8-mypy = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
twine = "*"

[packages]
flask = "*"
werkzeug = "*"
gunicorn = "*"
python-dotenv = "*"
jinja2 = "*"
mnemonic = "*"
lnurl = "*"
requests = "*"
flask-sqlalchemy = "1.3.23"
flask-migrate = "*"
hashids = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"