<!DOCTYPE html>
<html>
	<head>
		<title>BOLTBOOSTER</title>
		<link rel="stylesheet" href="static/assets/css/main.css">
		<script src="https://unpkg.com/webln@0.2.0/dist/webln.min.js" 
			integrity="sha384-mTReBqbhPO7ljQeIoFaD1NYS2KiYMwFJhUNpdwLj+VIuhhjvHQlZ1XpwzAvd93nQ" 
			crossorigin="anonymous">
		</script>
	</head>
<body>

    <h1 color="white">BOLTBOOSTER</h1>

    <iframe src="https://giphy.com/embed/jKMt4JQDQSPKlMRW0H" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><br><br>

    <p>Monetize any video instantly and for free. Easily allow users to send you sats.</p> 
	<p>Liotta laugh and let the sats flow.</p><br>

	<form action="/wrapper" method="POST" style="float:center;">
        <label>LN Address:</label>
        <input type="text" name="ln_address" placeholder="me@getalby.com"><br><br>

        <label>Embed Link:</label>
        <input type="text" name="link" placeholder="youtube.com/embed/myvideo"><br><br>

		<p>Create a unique link that allows anyone to send sats instanstly. </p>
        <button>CREATE LINK</button>
    </form>

</body>
</html>
