<!DOCTYPE html>
<html>
	<head>
		<title>BOLTBOOSTER</title>
		<link rel="stylesheet" href="static/assets/css/main.css">
        <link rel="stylesheet" href="static/assets/css/variables.css">
	</head>
<body>

    <h1 class="h1">BOLT BOOSTER</h1>

    <p class="main-text">Send sats to any LN Address.</p><br>

    <div class="row"></div>
        <div class="column left">
            <div class="video-container">
                <p>video here</p>
            </div>
        </div>

        <div class="column right">
                <div class="booster-group">
                    <span class="custom-amount-text">Custom Amount</span><br>
                        <input class="custom-amount" placeholder="00"/><br><br>
                    <span class="quick-select-font">Quick Select</span><br><br><br>
                        <div class="sats-boost-button-row">
                            <button class="sats-boost">
                                <span style="font-size:30px;">1 </span>
                                <span style="font-size:20px; color:#e79701;">SAT</span>
                            </button>
                            <button class="sats-boost">
                                <span style="font-size:30px;">5 </span>
                                <span style="font-size:20px; color:#e79701;">SATS</span>
                            </button> 
                            <button class="sats-boost">
                                <span style="font-size:30px;">10 </span>
                                <span style="font-size:20px; color:#e79701;">SATS</span>
                            </button>
                        </div>
                    <button id="unlock-button" class="boost-mode">Boost Mode</button>
                </div>
        </div>
    </div>

    <!--<div class="yamis-big-box">
        <input class="yamis-bs" placeholder="00"/><span style="font-size:20px; color:#71d318;">SATS</span>
    </div>-->



</body>
    <script src="static/assets/js/lnurl-pay.js"></script>
    <script src="static/assets/js/send_pay.js"></script>
</html>
