<!DOCTYPE html>
<html>
	<head>
		<title>SATSBUSTER</title>
		<link rel="stylesheet" href="static/assets/css/main.css">
		<script src="https://unpkg.com/webln@0.2.0/dist/webln.min.js" 
			integrity="sha384-mTReBqbhPO7ljQeIoFaD1NYS2KiYMwFJhUNpdwLj+VIuhhjvHQlZ1XpwzAvd93nQ" 
			crossorigin="anonymous">
		</script>
	</head>
<body>

	<h2> STREAM SATS, I DARE YA! </h2>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/COKhfMqL5IY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
	<br>

	<p color="white">LOGIN TO BOOST OR STREAM SATS</p> <br>

     <!-- have end user connect to alby-->
     <form action="/open_alby" method="GET" style="float:center;">
    	<input type="submit" value="LOGIN WITH LIGHTNING" name="send_btc">
    </form><br><br>

    <form action="/send_1" method="GET" style="float:left;">
    	<input type="submit" value="1 SAT" name="send_btc">
    </form>

	<form action="/send_5" method="GET" style="float:left;">
    	<input type="submit" value="5 SATS" name="send_btc">
    </form>

	<form action="/send_10" method="GET" style="float:left;">
    	<input type="submit" value="10 SATS" name="send_btc">
    </form>

	<form action="/stream" method="GET" style="float:right;">
    	<input type="submit" value="STREAM SATS" name="send_btc">
    </form>

	<!--import { requestProvider } from 'webln';

	WebLN.requestProvider(/* ... */);

	try {
	  const webln = await requestProvider();
	  // Now you can call all of the webln.* methods
	}
	catch(err) {
	  // Tell the user what went wrong
	  alert(err.message);
	} -->
	
		
</body>
</html>
