<!DOCTYPE html>
<html>
	<head>
		<title>BOLTBOOSTER</title>
		<link rel="stylesheet" href="static/assets/css/main.css">
		<!--<link rel="stylesheet" href="/static/assets/css/mvp.css" />-->
	</head>
<body>
    <header>
        <br><br>
        <h2> SHARE THIS LINK </h2>
        <h2 id="unique-link">{{ lastUser.unique_link }}</h2>
        <h3>Preview below</h3>
	    <h2>⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️</h2>
        <p color="white">Login with <a href="https://getalby.com/">getalby</a> to boost or stream sats to <b id="ln-address">{{ lastUser.ln_address }}</b></p>

        <iframe width="560" height="315" src="{{ lastUser.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
        <br>

        <p>
          <a href="#" id="unlock-button"><b>Connect to Alby &rarr;</b></a>
        
          <a href="#" id="one-sat-button"><i>1 SAT &rarr;</i></a>
          <a href="#" id="five-sats-button"><i>5 SATS &rarr;</i></a>
          <a href="#" id="ten-sats-button"><i>10 SATS &rarr;</i></a>
        </p>
        <!-- this comment is pulled to the javascript -->
        <!--<h5>Leave a comment!</h5>
        <textarea id="message"></textarea>-->
  
        <!--<p>
          <a href="#" id="stream-button"><i>Stream &rarr;</i></a>
        </p>-->
        
        <p id="payment-hash"></p>
        <p id="payment-request"></p><br>
        <div id="success"></div><br><br>
        <div id="connect_success"></div>
        <h6 id="preimage"></h6>
        <h2>⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️</h2>
      </header>
      <main></main>
		
</body>
<script src="static/assets/js/lnurl-pay.js"></script>

<script src="static/assets/js/pay.js"></script>

</html>
