/*html, body {
    height: 100%;
    text-align: center;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}*/

body {
    /*display: table-cell;
    vertical-align: middle;
    text-align: center;*/
    background-color: #141416;
}

h1 {
    font-family: var(--nasalization-35-pt-family);
    font-size: 35px;
    color: #e79701;
}

.body-index {
    height: 100%;
    text-align: center;
    display: table;
    margin: auto;
    vertical-align: middle;
}

.h1 {
    font-family: var(--nasalization-35-pt-family);
    font-size: 35px;
    color: #e79701;
    padding-left: 30px;
}
.h1-index {
    font-family: var(--nasalization-35-pt-family);
    font-size: 50px;
    color: #e79701;
}

.main-text {
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    padding-left: 30px;
}

.main-text-index {
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    font-size: 25px;
    padding-left: 30px;
}

.link-text-wrapper {
    background-color: #141416;
    color: black;
    border: 1px solid #e79701;
    font-family: var(--all-round-gothic-25-pt-family);
    color: #e79701;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: bold;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.main-text-index-footer {
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    font-size: 15px;
}



.sats-boost {
    background-color: #141416;
    color: black;
    border: 1px solid #e79701;
    font-family: var(--all-round-gothic-25-pt-family);
    color: white;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: bold;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.sats-boost{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.sats-boost:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}
  
.sats-boost:hover{
    padding-right: 24px;
    padding-left:8px;
}
  
.sats-boost:hover:after {
    opacity: 1;
    right: 10px;
}

.booster-group {
    /*position: right;*/
    vertical-align: middle;
    background-color: #141416;
    border: 1px solid #e79701;
    border-radius: 8px;
    height: 500px;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.booster-group-index {
    vertical-align: middle;
    background-color: #141416;
    border: 1px solid #e79701;
    border-radius: 8px;
    height: 450px;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*position: center;*/
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.booster-group-index-2 {
    background-color: #141416;
    border: 1px solid #e79701;
    border-radius: 8px;
    height: 450px;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;

}

.sats-select-font {
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    float: left;
}

.custom-amount-text {
    position: top left;
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    float: left;
    padding: 0px 50px 20px 50px; /* top right bottom left */
}

.custom-amount {
    background-color:#141416;
    border: 1px solid #e79701;
    color: white;
    text-align: center;
    font-family: var(--all-round-gothic-25-pt-family);
    font-size: 25px;
    border-radius: 8px;
    padding: 10px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.quick-select-font {
    position: left;
    color: white;
    font-family: var(--all-round-gothic-25-pt-family);
    margin: 5px;
    float: left;
    padding: 20px 50px 10px 50px; /* top right bottom left */
}

.sats-boost-button-row {
    position: center;
    margin: 5px;
    padding: 10px 20px 30px 20px; /* top right bottom left */
    display: flex;
    justify-content: center;
}

.boost-mode {
    background-color:#e79701;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-family: var(--all-round-gothic-25-pt-family);
    font-size: 25px;
    border-radius: 8px;
    padding: 10px 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.boost-mode-index {
    background-color:#e79701;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    font-family: var(--all-round-gothic-25-pt-family);
    font-size: 25px;
    border-radius: 8px;
    padding: 10px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}


* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }

  .left {
    width: 75%;
    padding-left: 30px;
  }
  
  .right {
    width: 25%;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .video-container { 
    position: left;
    border: 1px solid #e79701;
    border-radius: 8px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0; 
  }

  .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
  }


/*testing*/